*.doc  diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain

*.jpg  	binary
*.png 	binary
*.gif 	binary

*.cs text eol=crlf diff=csharp 
*.html text=auto
*.htm text=auto
*.css text=auto
*.js text=auto

*.csproj text=auto merge=union 
*.vbproj text=auto merge=union 
*.fsproj text=auto merge=union 
*.dbproj text=auto merge=union 
*.sln text=auto eol=crlf merge=union 